<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.IndividualMapper">

    <resultMap id="IndividualResultMap"
            type="com.backend.entity.IndividualEntity">
        <id column="id" property="id" />
        <result column="species_id" property="speciesId" />
        <result column="male_parent_id" property="maleParentId" />
        <result column="female_parent_id" property="femaleParentId" />
        <result column="morph" property="morph" />
        <result column="bloodline" property="bloodline" />
        <result column="gender_category" property="genderCategory" />
        <result column="breeding_category" property="breedingCategory" />
        <result column="breeder" property="breeder" />
        <result column="clutch_date" property="clutchDate" />
        <result column="hatch_date" property="hatchDate" />
        <result column="purchase_from" property="purchaseFrom" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="purchase_date" property="purchaseDate" />
        <result column="sales_category" property="salesCategory" />
        <result column="sales_to" property="salesTo" />
        <result column="sales_price_tax_ex" property="salesPriceTaxEx" />
        <result column="sales_price_tax" property="salesPriceTax" />
        <result column="sales_price_tax_in" property="salesPriceTaxIn" />
        <result column="sales_date" property="salesDate" />
        <result column="death_date" property="deathDate" />
        <result column="note" property="note" />
        <result column="create_user" property="createUser" />
        <result column="create_at" property="createAt" />
        <result column="update_user" property="updateUser" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    <sql id="individualColumns">
        species_id,
        id,
        male_parent_id,
        female_parent_id,
        morph,
        bloodline,
        gender_category,
        breeding_category,
        breeder,
        clutch_date,
        hatch_date,
        purchase_from,
        purchase_price,
        purchase_date,
        sales_category,
        sales_to,
        sales_price_tax_ex,
        sales_price_tax,
        sales_price_tax_in,
        sales_date,
        death_date,
        note,
        create_user,
        create_at,
        update_user,
        update_at
    </sql>

    <select id="findAll" resultMap="IndividualResultMap">
        SELECT
            <include refid="individualColumns" />
        FROM
            individual
        ORDER BY
            species_id,
            id
    </select>

    <select id="findBySpeciesIdAndId"
            resultMap="IndividualResultMap">
        SELECT
            <include refid="individualColumns" />
        FROM
            individual
        WHERE
            species_id = #{speciesId}
            AND id = #{id}
    </select>

    <select id="findIdsByIdPrefix" resultType="string">
        SELECT
            id
        FROM
            individual
        WHERE
            id LIKE CONCAT(#{idPrefix}, '%')
            AND CHAR_LENGTH(id) = 6
    </select>

    <insert id="insert">
        INSERT INTO individual (
            species_id,
            id,
            male_parent_id,
            female_parent_id,
            morph,
            bloodline,
            gender_category,
            breeding_category,
            breeder,
            clutch_date,
            hatch_date,
            purchase_from,
            purchase_price,
            purchase_date,
            sales_category,
            sales_to,
            sales_price_tax_ex,
            sales_price_tax,
            sales_price_tax_in,
            sales_date,
            death_date,
            note,
            create_user,
            create_at,
            update_user,
            update_at
        )
        VALUES (
            #{speciesId},
            #{id},
            #{maleParentId},
            #{femaleParentId},
            #{morph},
            #{bloodline},
            #{genderCategory},
            #{breedingCategory},
            #{breeder},
            #{clutchDate},
            #{hatchDate},
            #{purchaseFrom},
            #{purchasePrice},
            #{purchaseDate},
            #{salesCategory},
            #{salesTo},
            #{salesPriceTaxEx},
            #{salesPriceTax},
            #{salesPriceTaxIn},
            #{salesDate},
            #{deathDate},
            #{note},
            #{createUser},
            #{createAt},
            #{updateUser},
            #{updateAt}
        )
    </insert>

    <update id="update">
        UPDATE individual
        SET
            male_parent_id = #{individual.maleParentId},
            female_parent_id = #{individual.femaleParentId},
            morph = #{individual.morph},
            bloodline = #{individual.bloodline},
            gender_category = #{individual.genderCategory},
            breeding_category = #{individual.breedingCategory},
            breeder = #{individual.breeder},
            clutch_date = #{individual.clutchDate},
            hatch_date = #{individual.hatchDate},
            purchase_from = #{individual.purchaseFrom},
            purchase_price = #{individual.purchasePrice},
            purchase_date = #{individual.purchaseDate},
            sales_category = #{individual.salesCategory},
            sales_to = #{individual.salesTo},
            sales_price_tax_ex = #{individual.salesPriceTaxEx},
            sales_price_tax = #{individual.salesPriceTax},
            sales_price_tax_in = #{individual.salesPriceTaxIn},
            sales_date = #{individual.salesDate},
            death_date = #{individual.deathDate},
            note = #{individual.note},
            update_user = #{individual.updateUser},
            update_at = CURRENT_TIMESTAMP
        WHERE
            species_id = #{speciesId}
            AND id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM individual
        WHERE
            species_id = #{speciesId}
            AND id = #{id}
    </delete>
</mapper>
